{% extends 'base.html.twig' %}

{% block title %}Admin Events Form!{% endblock %}

{% block body %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add/Edit</li>
        </ol>
    </nav>

    <h1>Submit a new Entry</h1>

    <div class="p-3">
    {{ form(form) }}
    </div>
</div>
{% endblock %}
